<app-navbar></app-navbar>

<section class="my-5 container-sm">

  <h2>
    Tu colección
  </h2>
  <!--<div class="books-container">
    <div  class="row">
        <div *ngFor="let libro of coleccion" class="col-xl-3 col-lg-3 book col-md-3">
          <img src="../../../assets/img/metamorfosisPortada.jpg" alt="">
          <p class="titulo-libro"> {{libro.titulo}} </p>
          <p class="genero-libro"> {{libro.genero}} </p>
          <button type="submit" class="btn-editar" (click)="editar()">Continuar</button>
        </div>
    </div>
  </div>-->
  <div class="mt-1 row">
    <a *ngFor="let libro of coleccion" [routerLink]="['/vistaLectura']" class="col-lg-3 col-md-4 col-sm-6">
      <img class="center" src="{{libro.imgSource}}" alt="">
      <p class="titulo-libro">{{libro.titulo}}</p>
      <p class="genero-libro">{{libro.autor}}</p>
    </a>
  </div>

</section>
