section{
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

h3{
    font-weight: bold;
}
.authors{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.author-info{
    margin: 20px 35px;
    width: 150px;
}
.author-pic{
    width: 100px;
}
.author-name{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}