<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" [routerLink]="['/homeEscritor']"><img src="../../../../assets/img/kafkalogo.png" alt="Kafka logo">Kafka</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form *ngIf="router.url !== '/busqueda'" class="form-inline my-2 my-lg-0 ml-auto">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">
            <li *ngIf="router.url === '/homeEscritor' || router.url === '/vistaEscritura'" class="nav-item my-auto ml-lg-5">
                <a class="nav-link" [routerLink]="['/formlibro']">Escribir</a>
            </li>
            <li class="nav-item my-auto ml-lg-5">
                <a class="nav-link" [routerLink]="['/busqueda']">Búsqueda</a>
            </li>
            <li class="nav-item my-auto ml-lg-5">
                <a class="nav-link" [routerLink]="['./']">Explora</a>
            </li>
            <li class="nav-item my-auto ml-lg-5">
                <a class="nav-link" [routerLink]="['/coleccion']">Biblioteca</a>
            </li>
            <li class="nav-item my-auto ml-lg-5 dropdown">
                <a class="nav-link" [routerLink]="['./']" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="foto-usuario" src="../../../../assets/img/profile-placeholder.png" alt="Perfil">
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/profile']">Ver perfil</a>
                    <a class="dropdown-item" [routerLink]="['./']">Editar perfil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['./']">Cerrar sesión</a>
                </div>
            </li>
        </ul>

    </div>
</nav>
