.navbar {
    background-color: #263947;
}

.navbar-brand {
    font-family: 'Berkshire Swash', cursive;
    font-size: 40px;
}

.navbar img {
    height: 50px;
}

.navbar-light .navbar-nav .nav-link {
    color: #F2EFEA;
    font-size: 25px;
}

.navbar-light .navbar-brand {
    color: #F2EFEA;
}

form {
    width: 70%;
}

form > button {
    display: none;
}

form > input {
    width: 100%;
}

.foto-usuario {
    border-radius: 50%;
}