<app-navbar></app-navbar>
<div class="container contact-form" style="margin-top: 0px;">
  <div class="col-12 formulario">
    <!-- form [formGroup]="libroForm" action="" (ngSubmit)="onSubmit(libroForm.value)" -->
    <form (ngSubmit)="onSubmit($event)" [formGroup]="formulario" class="row mt-4 justify-content-center">
      <div class="col-lg-10">
        <div class="row">
          <div class="form-group col-12">
            <h1 class="display-5 text-center" >Descripción de la Obra</h1>
            <div class="row mx-1">
              <div class="form-group col-9">
                <label>Titulo <span style="color:rgb(255, 255, 255)">*</span></label>
                <input type="text" placeholder="Nombre" class="form-control " autocomplete="off" maxlength="200"
                  formControlName="titulo" #txtNombre (keyup)="calcularCaracteres(txtNombre)" name="nombre">
                <small style="float: right" class="form-text text-muted">{{ caracteresNombre }}
                  caracteres</small>
              </div>

              <div class="form-group col-3">
                <div class="form-group">
                  <label for="happy" class="control-label text-right">Exclusivo</label>
                  <div class="col-sm-7 col-md-7">
                    <div class="input-group">
                      <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-info">
                          <input type="radio" name="exclusivo" value="true" autocomplete="off"> Si
                        </label>
                        <label class="btn btn-info active">
                          <input type="radio" name="exclusivo" value="false" autocomplete="off"> No
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group col-12">
                <label>Sinopsis<span style="color:rgb(255, 255, 255)">*</span></label>
                <textarea formControlName="sinopsis" name="sinopsis" id="siparea" class="form-control" #detalle
                  (keyup)="calcularCaracteres(detalle)"></textarea>
                <small style="float: right" class="form-text text-muted">{{ caracteresDetalle }}
                  caracteres</small>
              </div>
              <div class="form-group col-4">
                <label>Tipo de Género <span style="color:rgb(255, 255, 255)">*</span></label>
                <select class="form-control" formControlName="genero">
                  <option value="">Seleccione el tipo de Género</option>
                  <option [value]="tipo.id" *ngFor="let tipo of listaGeneros">
                    {{ tipo.nombre | titlecase}}
                  </option>
                </select>
              </div>
              <div class="form-group col-4">
                <label>Clasificación <span style="color:rgb(255, 255, 255)">*</span></label>
                <select class="form-control" formControlName="adulto">
                  <option value="">Seleccione la Clasificación </option>
                  <option [value]="tipo.id" *ngFor="let tipo of listaRestriccion">
                    {{ tipo.nombre | titlecase}}
                  </option>
                </select>
              </div>

              <div class="form-group col-4">
                <label>Fecha Publicación <span style="color:rgb(255, 255, 255)">*</span></label>
                <input type="date" class="form-control" formControlName="fechaPublicacion">
              </div>
            </div>
          </div>
        </div>

        <ng-template [ngIf]="!isArchivoCargado">
          <input type="file" style="display: none" id="inputFile" formControlName="portada"
            (change)="onCargarArchivo($event)">
          <div style="display: flex; flex-direction: column">

            <label for="inputFile"
              style="text-decoration: underline;cursor: pointer; font-size: .92rem; text-align: end">
              Subir archivo
            </label>
            <!--div>
              <span class="icon-info" [matTooltip]="formatoArchivo"
                [matTooltipPosition]="'above'" [matTooltipClass]="'tooltipFont'"
                style="margin-right: 5px;font-size: .8rem"></span>
              <small class="text-muted">Formatos validos: csv</small>
            </div-->
          </div>
          <!--span class="text-danger" style="font-size: .8rem"> {{ mensajeErrorCargaArchivo }}
          </span-->
        </ng-template>

        <div class="col-12">
          <small style="color: rgb(255, 255, 255)">(*) Los campos son requeridos</small>
        </div>

        <div class="form-group col-12 mt-3">
          <div class="row">
            <div class="col-6">
              <button type="submit" class="btn btn-block btn-primary"
                [disabled]="formulario.invalid">Registrar</button>
            </div>
            <div class="col-6">
              <button type="submit" class="btn btn-block btn-danger"
                (click)="onReiniciarFormulario()">Cancelar</button>
            </div>
          </div>
        </div>
      </div>


    </form>
  </div>
</div>

<app-footer></app-footer>
