/**GLOBALES**/

body {
  background-color: #7d8a6a;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  color: #F0EDE8;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.not-display {
  display: none;
}
